<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load bootstrap5 %}
  <title>{% block title %}EXP. | loveU{% endblock %}</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="shortcut icon" href="{% static 'images/rainbow.png' %}" sizes="32x32" />

  <script src="{% static 'js/theme-toggle.js' %}"></script>
  <script src="{% static 'js/bootstrap5.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap5.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto">
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-white">
        <div class="container-fluid">
          <button class="navbar-toggler exp-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <a class="exp-logo">EXP`</a>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="option-l" href="#">haircuts</a>
              <a class="option-l" href="#">coloring</a>
              <a class="option-l" href="#">prices</a>
              <a class="option-l" href="#">aboutUS</a>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle option-c" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  contacts
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">+3747776666</a></li>
                  <li><a class="dropdown-item" href="#">telegram</a></li>
                  <li>
                    <hr style="color: blue;">
                  </li>
                  <li><a class="dropdown-item" href="#">instagram</a></li>
                </ul>
              </li>
            </ul>
            <img src="{% static 'images/sins.gif' %}" width="120" height="40">
            <a class="option-exp-logo" href="#">EXP.</a>
          </div>
        </div>
      </nav>
      <!-- <div class="border-end border-white">
        <div class="d-inline-flex justify-content-start p-0 m-3 mb-0">
          <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto"
            aria-live="polite">
            <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
              <mask class="moon" id="moon-mask">
                <rect x="0" y="0" width="100%" height="100%" fill="white" />
                <circle cx="24" cy="10" r="6" fill="black" />
              </mask>
              <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
              <g class="sun-beams" stroke="currentColor">
                <line x1="12" y1="1" x2="12" y2="3" />
                <line x1="12" y1="21" x2="12" y2="23" />
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                <line x1="1" y1="12" x2="3" y2="12" />
                <line x1="21" y1="12" x2="23" y2="12" />
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
              </g>
            </svg>
          </button>
        </div> -->
        <div class="d-flex gap-0 justify-content-start border-end border-white p-2">
          <a class="option-b" href="#">bar</a>
          <div class="">
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>